
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Guess Whom?</title>
	<link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="screen.css" />
</head>
<body>
	<div id="container">
		<div id="monocle"></div>
		<h1>Guess Whom?</h1>
		<h2>Playing against <strong>Egor Larionov</strong></h2>
		<div id="sidebar">
			<div id="points">500</div>
			<ul id="nav">
				<li><a href="#">New game</a></li>
				<li><a href="#">Active games</a></li>
			</ul>
		</div>
		<div id="panel">
			<div id="content">
				<ul id="faces">
					<li><a href="#"><img src="img/resources/egor.jpg" width="80px"></a></li>
					<li class="inactive"><a href="#"><img src="img/resources/egor.jpg" width="80px"></a></li>
					<li class="inactive"><a href="#"><img src="img/resources/egor.jpg" width="80px"></a></li>
					<li class="inactive"><a href="#"><img src="img/resources/egor.jpg" width="80px"></a></li>
					<li class="inactive"><a href="#"><img src="img/resources/egor.jpg" width="80px"></a></li>
					<li class="inactive"><a href="#"><img src="img/resources/egor.jpg" width="80px"></a></li>
					<li class="inactive"><a href="#"><img src="img/resources/egor.jpg" width="80px"></a></li>
					<li class="inactive"><a href="#"><img src="img/resources/egor.jpg" width="80px"></a></li>
					<li class="inactive"><a href="#"><img src="img/resources/egor.jpg" width="80px"></a></li>
					<li class="inactive"><a href="#"><img src="img/resources/egor.jpg" width="80px"></a></li>
				</ul>
			</div>
		</div>
		<form>
			<input type="text" name="question" id="question" placeholder="Ask Egor a question!">
			<a id="ask" href="#">Ask</a>
		</form>
	</div>
</body>
</html>

<!-- Monocle from http://opengameart.org/content/monocle-and-a-moustache -->
